* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ボディのスタイル */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* 背景色 */
  color: #333; /* テキスト色 */
  line-height: 1.6;
}

/* ヘッダーのスタイル */
.header {
  background-color: black; /* 青色 */
  color: #fff; /* 白色のテキスト */
  padding: 1rem;
}

.header__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo a {
  color: red; /* 白色のテキスト */
  text-decoration: none;
  font-size: 1.5rem;
}

/* リンク */
.post {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  color: #fff;
  background-color: red; /* 緑色 */
  border-radius: 4px;
  text-decoration: none;
}

.post:hover {
  background-color: red; /* ホバー時のダークグリーン */
}